In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/Ecommerce.csv')
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [4]:
for col in df.columns:
    print(f'For column {col}\n----------------\n')
    print(df[col].value_counts())
    print('\n')

For column ID
----------------

2047     1
3355     1
7465     1
5416     1
9510     1
        ..
10848    1
4703     1
6750     1
605      1
2049     1
Name: ID, Length: 10999, dtype: int64


For column Warehouse_block
----------------

F    3666
D    1834
B    1833
C    1833
A    1833
Name: Warehouse_block, dtype: int64


For column Mode_of_Shipment
----------------

Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64


For column Customer_care_calls
----------------

4    3557
3    3217
5    2328
6    1013
2     638
7     246
Name: Customer_care_calls, dtype: int64


For column Customer_rating
----------------

3    2239
1    2235
4    2189
5    2171
2    2165
Name: Customer_rating, dtype: int64


For column Cost_of_the_Product
----------------

245    110
257    109
260    106
254    101
264    100
      ...
99       5
107      5
120      5
96       5
122      4
Name: Cost_of_the_Product, Length: 215, dtype: int64


For column Prior_purchases
----------------

3     3955
2     2599
4     2155
5     1287
6      561
10     178
7      136
8      128
Name: Prior_purchases, dtype: int64


For column Product_importance
----------------

low       5297
medium    4754
high       948
Name: Product_importance, dtype: int64


For column Gender
----------------

F    5545
M    5454
Name: Gender, dtype: int64


For column Discount_offered
----------------

10    860
2     858
6     849
9     845
3     840
     ...
65     36
26     36
42     35
25     34
30     34
Name: Discount_offered, Length: 65, dtype: int64


For column Weight_in_gms
----------------

4883    12
4314    10
5672    10
1005    10
1145    10
        ..
1963     1
1971     1
1987     1
4050     1
2049     1
Name: Weight_in_gms, Length: 4034, dtype: int64


For column Reached.on.Time_Y.N
----------------

1    6563
0    4436
Name: Reached.on.Time_Y.N, dtype: int64

In [5]:
for col in df.columns:
    print(f'For column {col}\n----------------\n')
    print(df[col].unique())
    print('\n')

For column ID
----------------

[    1     2     3 ... 10997 10998 10999]


For column Warehouse_block
----------------

['D' 'F' 'A' 'B' 'C']


For column Mode_of_Shipment
----------------

['Flight' 'Ship' 'Road']


For column Customer_care_calls
----------------

[4 2 3 5 6 7]


For column Customer_rating
----------------

[2 5 3 1 4]


For column Cost_of_the_Product
----------------

[177 216 183 176 184 162 250 233 150 164 189 232 198 275 152 227 143 239
 145 161 156 211 251 225 172 234 266 257 223 149 137 181 215 269 139 174
 151 210 169 160 190 141 165 170 203 246 238 193 221 179 105 261 202 109
 158 231 206 187 230 113 180 132 217 197 185 278 229 186 286 175 219 213
 235 271 144 218 263 168 265 205 252 222 220 147 200 224 247 280 157 207
 237 264 248 191 146 135  98  97 114 112 274 166 148 270 242 192 116 255
 209 134 130 133 140 136 142 154 155 127 129 159 294 226 258 241 208 182
 115 212 171 249 243 163 272 138 273 279 173 194 262 201 260 188 267 131
 122 103 199 236 167 259 178 123 124  96 244 254 128 204 245 228 268 108
 276 214 281 253 104 240 121 153 111 117 195 110 119 196 291 118 283 100
 256 285 284 101 296 277 106 282 126 102 120  99 125 107 301 290 310 308
 300 303 306 292 293 295 304 298 305 287 309 302 307 289 297 299 288]


For column Prior_purchases
----------------

[ 3  2  4  6  5  7 10  8]


For column Product_importance
----------------

['low' 'medium' 'high']


For column Gender
----------------

['F' 'M']


For column Discount_offered
----------------

[44 59 48 10 46 12  3 11 29 32  1 43 45  6 36 18 38 51  2 28 24 31 61 22
  4 62 16 56 15  9 40 37 41 17 64 52 49 39 14 33 21 13 23 26 57  7 35  8
  5 53 55 47 65 25 50 60 20 19 63 58 34 54 27 42 30]


For column Weight_in_gms
----------------

[1233 3088 3374 ... 1086 1649 1098]


For column Reached.on.Time_Y.N
----------------

[1 0]

In [6]:
df.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [7]:
df.tail()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [8]:
print(df.shape)

(10999, 12)

In [9]:
df.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

# Sorting

In [10]:
df.sort_values(['Discount_offered', 'Customer_rating'], ascending=[True, False])

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
12,13,D,Flight,3,5,198,3,medium,F,1,3667,1
1233,1234,B,Flight,3,5,176,3,high,F,1,1982,1
1345,1346,F,Road,3,5,264,2,medium,F,1,3947,1
1907,1908,F,Road,4,5,238,2,low,F,1,2644,1
2174,2175,A,Road,3,5,166,3,low,F,1,1366,1
...,...,...,...,...,...,...,...,...,...,...,...,...
956,957,A,Flight,4,1,208,7,high,F,65,2674,1
1302,1303,D,Ship,4,1,152,3,medium,F,65,1706,1
1328,1329,A,Ship,5,1,201,3,medium,F,65,2488,1
1484,1485,A,Road,3,1,180,2,low,F,65,1321,1
2897,2898,F,Ship,4,1,160,2,high,F,65,1861,1

In [11]:
df.sort_values(['Discount_offered', 'Cost_of_the_Product'], ascending=[True, False])

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
4819,4820,F,Ship,6,5,310,4,medium,M,1,1105,1
8907,8908,B,Flight,2,2,310,3,low,M,1,1549,1
10194,10195,D,Ship,6,4,310,4,medium,M,1,1494,1
6888,6889,D,Ship,7,3,309,4,low,F,1,1290,1
5531,5532,F,Ship,6,1,308,4,medium,M,1,1216,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2823,2824,B,Ship,2,4,147,2,medium,F,65,1738,1
358,359,C,Ship,3,1,140,3,medium,F,65,1291,1
740,741,A,Ship,4,5,139,3,low,F,65,1277,1
2781,2782,B,Ship,4,4,138,7,medium,M,65,1530,1
276,277,D,Flight,4,2,136,3,low,F,65,1962,1

In [12]:
df.sort_values(['Discount_offered', 'Prior_purchases'], ascending=[True, False])

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
3177,3178,B,Ship,2,1,274,10,high,F,1,5622,0
3588,3589,D,Ship,4,3,185,10,high,M,1,4973,0
3591,3592,B,Ship,2,3,134,10,high,F,1,5632,0
3600,3601,D,Ship,3,4,245,10,medium,M,1,5363,0
3823,3824,F,Road,3,3,154,10,medium,F,1,5235,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2161,2162,F,Ship,4,2,270,2,low,M,65,3599,1
2417,2418,F,Ship,3,4,228,2,medium,M,65,3943,1
2696,2697,A,Ship,4,2,191,2,high,M,65,3082,1
2823,2824,B,Ship,2,4,147,2,medium,F,65,1738,1
2897,2898,F,Ship,4,1,160,2,high,F,65,1861,1

# Subsetting

### Subsetting based on Warehouse_block

In [13]:
df['Warehouse_block'].unique()

array(['D', 'F', 'A', 'B', 'C'], dtype=object)

In [14]:
df[df['Warehouse_block'] == 'A']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
8,9,A,Flight,3,4,150,3,low,F,11,1861,1
14,15,A,Flight,4,3,152,3,low,M,43,1009,1
20,21,A,Ship,3,3,161,2,medium,F,38,1521,1
26,27,A,Ship,4,1,172,3,high,F,24,1066,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10970,10971,A,Flight,4,4,216,6,low,M,5,1272,0
10976,10977,A,Flight,3,2,278,4,medium,M,9,1631,0
10982,10983,A,Ship,5,1,275,5,low,M,7,1623,1
10988,10989,A,Ship,4,3,192,4,low,F,2,1830,0
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1

In [15]:
df[df['Warehouse_block'] == 'B']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
9,10,B,Flight,3,2,164,3,medium,F,29,1187,1
15,16,B,Flight,4,3,227,3,low,F,45,2707,1
21,22,B,Ship,3,1,232,4,medium,F,51,2899,1
27,28,B,Ship,5,1,162,3,medium,M,31,1435,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10971,10972,B,Flight,5,5,221,5,low,M,8,1718,0
10977,10978,B,Ship,5,4,232,5,medium,F,4,1561,0
10983,10984,B,Ship,4,3,229,6,medium,M,1,1235,1
10989,10990,B,Ship,5,1,218,5,medium,F,9,1603,0
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0

In [16]:
df[df['Warehouse_block'] == 'C']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
10,11,C,Flight,3,4,189,2,medium,M,12,2888,1
16,17,C,Flight,3,4,143,2,medium,F,6,1194,1
22,23,C,Ship,2,5,156,2,low,M,2,1750,1
28,29,C,Ship,2,3,234,4,low,M,44,3134,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10972,10973,C,Flight,4,1,249,5,low,F,10,1762,1
10978,10979,C,Ship,4,1,253,5,low,F,2,1362,0
10984,10985,C,Ship,5,1,257,5,medium,M,1,1102,1
10990,10991,C,Ship,5,4,219,6,low,M,3,1098,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0

In [17]:
df[df['Warehouse_block'] == 'D']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
6,7,D,Flight,3,4,250,3,low,F,3,2371,1
12,13,D,Flight,3,5,198,3,medium,F,1,3667,1
18,19,D,Ship,5,5,239,3,high,M,18,2495,1
24,25,D,Ship,4,5,251,2,medium,F,28,3561,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10974,10975,D,Flight,5,2,219,5,low,F,9,1505,0
10980,10981,D,Ship,4,4,261,5,low,F,4,1649,1
10986,10987,D,Ship,4,5,255,5,medium,M,5,1458,1
10992,10993,D,Ship,5,1,236,5,medium,M,3,1906,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [18]:
df[df['Warehouse_block'] == 'F']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
5,6,F,Flight,3,1,162,3,medium,F,12,1417,1
7,8,F,Flight,4,1,233,2,low,F,48,2804,1
11,12,F,Flight,4,5,232,3,medium,F,32,3253,1
13,14,F,Flight,4,4,275,3,high,M,29,2602,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10985,10986,F,Ship,5,1,229,5,low,F,10,1040,1
10987,10988,F,Ship,5,3,242,5,low,F,10,1846,1
10991,10992,F,Ship,5,2,261,5,medium,M,9,1227,1
10993,10994,F,Ship,5,1,257,6,low,F,1,1150,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0

### Subsetting based on Mode Of Shipment

In [19]:
df['Mode_of_Shipment'].unique()

array(['Flight', 'Ship', 'Road'], dtype=object)

In [20]:
df[df['Mode_of_Shipment'] == 'Flight']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10972,10973,C,Flight,4,1,249,5,low,F,10,1762,1
10973,10974,F,Flight,5,2,240,5,low,F,7,1923,0
10974,10975,D,Flight,5,2,219,5,low,F,9,1505,0
10975,10976,F,Flight,5,2,219,5,low,M,10,1276,0
10976,10977,A,Flight,3,2,278,4,medium,M,9,1631,0

In [21]:
df[df['Mode_of_Shipment'] == 'Ship']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
17,18,F,Ship,5,5,227,3,medium,M,36,3952,1
18,19,D,Ship,5,5,239,3,high,M,18,2495,1
19,20,F,Ship,4,5,145,3,medium,M,45,1059,1
20,21,A,Ship,3,3,161,2,medium,F,38,1521,1
21,22,B,Ship,3,1,232,4,medium,F,51,2899,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [22]:
df[df['Mode_of_Shipment'] == 'Road']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
110,111,A,Road,3,1,158,2,low,M,2,1284,1
111,112,B,Road,4,2,239,3,low,F,65,3679,1
112,113,C,Road,4,3,175,2,low,M,25,1816,1
113,114,F,Road,3,2,263,3,low,M,41,2817,1
114,115,D,Road,3,5,168,2,high,M,50,1616,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10950,10951,D,Road,4,3,228,5,medium,M,8,1753,1
10951,10952,F,Road,5,2,244,6,low,M,1,1199,0
10952,10953,A,Road,5,1,260,5,low,F,3,1705,0
10953,10954,B,Road,4,1,245,5,low,M,3,1496,1
10954,10955,C,Road,4,1,261,3,low,F,8,5206,1

### Subsetting based on Product Importance

In [23]:
df[df['Product_importance'] == 'low']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
6,7,D,Flight,3,4,250,3,low,F,3,2371,1
7,8,F,Flight,4,1,233,2,low,F,48,2804,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10988,10989,A,Ship,4,3,192,4,low,F,2,1830,0
10990,10991,C,Ship,5,4,219,6,low,M,3,1098,0
10993,10994,F,Ship,5,1,257,6,low,F,1,1150,0
10996,10997,C,Ship,5,4,242,5,low,F,4,1155,0
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

In [24]:
df[df['Product_importance'] == 'medium']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
5,6,F,Flight,3,1,162,3,medium,F,12,1417,1
9,10,B,Flight,3,2,164,3,medium,F,29,1187,1
10,11,C,Flight,3,4,189,2,medium,M,12,2888,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10991,10992,F,Ship,5,2,261,5,medium,M,9,1227,1
10992,10993,D,Ship,5,1,236,5,medium,M,3,1906,0
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10995,10996,B,Ship,4,1,232,5,medium,F,6,1247,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0

In [25]:
df[df['Product_importance'] == 'high']

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
13,14,F,Flight,4,4,275,3,high,M,29,2602,1
18,19,D,Ship,5,5,239,3,high,M,18,2495,1
23,24,F,Ship,4,3,211,3,high,M,12,3922,1
26,27,A,Ship,4,1,172,3,high,F,24,1066,1
36,37,D,Ship,3,5,137,4,high,F,62,1477,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10898,10899,A,Ship,4,1,222,2,high,M,3,5665,1
10908,10909,D,Ship,4,1,192,4,high,M,10,4570,1
10910,10911,A,Ship,5,5,264,8,high,F,10,5759,1
10956,10957,D,Flight,4,3,192,4,high,M,7,4949,0
10958,10959,A,Flight,5,2,264,8,high,M,2,5252,1

### Subsetting based on Discount_offered

In [26]:
df[df['Discount_offered'] > 30]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
7,8,F,Flight,4,1,233,2,low,F,48,2804,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3125,3126,F,Road,4,4,197,3,medium,F,41,3280,1
3126,3127,D,Road,3,1,224,3,low,F,48,3672,1
3130,3131,C,Road,6,5,246,4,medium,M,50,3618,1
3131,3132,F,Road,4,1,232,3,medium,M,55,2686,1
3133,3134,F,Road,3,4,163,3,medium,M,58,1443,1

### Subsetting on Multiple conditions

In [27]:
df[(df["Customer_rating"] == 5) & (df["Mode_of_Shipment"]=="Flight")]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
11,12,F,Flight,4,5,232,3,medium,F,32,3253,1
12,13,D,Flight,3,5,198,3,medium,F,1,3667,1
135,136,B,Flight,3,5,157,3,medium,F,4,1889,1
137,138,F,Flight,3,5,162,2,medium,M,7,1739,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10833,10834,B,Flight,6,5,258,5,low,F,1,5376,0
10955,10956,F,Flight,2,5,125,4,low,M,5,5866,0
10963,10964,F,Flight,4,5,220,10,medium,M,8,4100,1
10966,10967,C,Flight,5,5,246,5,low,F,6,1300,0
10971,10972,B,Flight,5,5,221,5,low,M,8,1718,0

### Subsetting using .isin()

In [28]:
GenderFilter = df['Gender'].isin(['M'])
df[GenderFilter]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
10,11,C,Flight,3,4,189,2,medium,M,12,2888,1
13,14,F,Flight,4,4,275,3,high,M,29,2602,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10986,10987,D,Ship,4,5,255,5,medium,M,5,1458,1
10990,10991,C,Ship,5,4,219,6,low,M,3,1098,0
10991,10992,F,Ship,5,2,261,5,medium,M,9,1227,1
10992,10993,D,Ship,5,1,236,5,medium,M,3,1906,0
10997,10998,F,Ship,5,2,223,6,medium,M,2,1210,0

### Multiple parameter Filtering

In [29]:
ModeOfShipmentFilter = df['Mode_of_Shipment'].isin(['Flight', 'Ship'])

WarehouseBlockFilter = df["Warehouse_block"].isin(["D", "A"])

df[ModeOfShipmentFilter & WarehouseBlockFilter]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
6,7,D,Flight,3,4,250,3,low,F,3,2371,1
8,9,A,Flight,3,4,150,3,low,F,11,1861,1
12,13,D,Flight,3,5,198,3,medium,F,1,3667,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10986,10987,D,Ship,4,5,255,5,medium,M,5,1458,1
10988,10989,A,Ship,4,3,192,4,low,F,2,1830,0
10992,10993,D,Ship,5,1,236,5,medium,M,3,1906,0
10994,10995,A,Ship,4,1,252,5,medium,F,1,1538,1
10998,10999,D,Ship,2,5,155,5,low,F,6,1639,0

# Summary statistics

In [30]:
df['Discount_offered'].mean()

13.37321574688608

In [31]:
df['Discount_offered'].median()

7.0

In [32]:
df['Discount_offered'].mode()

0    10
dtype: int64

In [33]:
df['Discount_offered'].min()

1

In [34]:
df['Discount_offered'].max()

65

In [35]:
df['Discount_offered'].var()

262.61910796137164

In [36]:
df['Discount_offered'].std()

16.20552708064047

In [37]:
df['Discount_offered'].sum()

147092

In [38]:
df['Discount_offered'].quantile()

7.0

# Grouped Summuries

In [39]:
df.groupby(['Warehouse_block','Mode_of_Shipment','Product_importance'])['Discount_offered'].agg([min, max, np.mean, np.median,sum, np.std, np.var])

                                                     min  max       mean  \
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                  2   65  14.322581
                                 low                   1   63  11.868056
                                 medium                1   62  14.122951
                Road             high                  1   61  16.222222
                                 low                   1   65  13.131034
                                 medium                1   64  12.524590
                Ship             high                  1   65  16.691589
                                 low                   1   65  13.793548
                                 medium                1   65  11.947573
B               Flight           high                  1   63  14.520000
                                 low                   1   63  10.672000
                                 medium                1   64  13.890411
                Road             high                  1   54  12.172414
                                 low                   1   65  12.863636
                                 medium                1   59  13.398496
                Ship             high                  1   60  15.467391
                                 low                   1   64  13.050167
                                 medium                1   65  13.358047
C               Flight           high                  1   61  12.361111
                                 low                   1   64  13.588235
                                 medium                1   63  11.878049
                Road             high                  1   59  14.481481
                                 low                   1   63  14.367347
                                 medium                1   65  12.825000
                Ship             high                  1   64  13.695238
                                 low                   1   65  12.656514
                                 medium                1   65  14.321168
D               Flight           high                  1   42   9.333333
                                 low                   1   65  13.376712
                                 medium                1   64  13.748031
                Road             high                  1   59  15.160000
                                 low                   1   65  12.902098
                                 medium                1   64  11.491935
                Ship             high                  1   63  13.794872
                                 low                   1   65  12.772727
                                 medium                1   65  13.559925
F               Flight           high                  1   64  14.808511
                                 low                   1   63  12.864111
                                 medium                1   65  14.422481
                Road             high                  1   64  12.460000
                                 low                   1   65  12.268966
                                 medium                1   65  14.036585
                Ship             high                  1   65  15.956311
                                 low                   1   65  13.355296
                                 medium                1   65  13.909511

                                                     median    sum        std  \
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                   7.0    444  18.358263
                                 low                    7.0   1709  13.967618
                                 medium                 8.0   1723  16.416369
                Road             high                   9.0    438  17.930064
                                 low                    7.0   1904  16.708387
                                 medium                 7.0   1528  15.949410
                Ship             high                   8.0   1786  18.992258
                                 low                    7.0   8552  16.911037
                                 medium                 7.0   6153  14.852163
B               Flight           high                   7.0    363  18.264538
                                 low                    6.0   1334  14.160244
                                 medium                 7.0   2028  16.044818
                Road             high                   7.0    353  14.089178
                                 low                    7.0   1698  15.430105
                                 medium                 7.0   1782  14.942283
                Ship             high                   7.0   1423  17.967890
                                 low                    7.0   7804  15.810673
                                 medium                 8.0   7387  16.032751
C               Flight           high                   4.5    445  17.558316
                                 low                    7.0   1848  16.539278
                                 medium                 6.0   1461  14.962020
                Road             high                   8.0    391  15.544899
                                 low                    7.0   2112  16.388720
                                 medium                 7.0   1539  16.917329
                Ship             high                   6.0   1438  16.692999
                                 low                    7.0   7480  15.390800
                                 medium                 8.0   7848  17.148106
D               Flight           high                   5.5    224  11.273928
                                 low                    8.0   1953  15.544881
                                 medium                 7.0   1746  16.499624
                Road             high                   8.0    379  17.031050
                                 low                    6.0   1845  16.267705
                                 medium                 5.5   1425  15.315912
                Ship             high                   7.0   1614  16.678263
                                 low                    7.0   7587  15.631956
                                 medium                 7.0   7241  16.584401
F               Flight           high                   8.0    696  17.233232
                                 low                    7.0   3692  14.747727
                                 medium                 8.0   3721  17.358987
                Road             high                   7.0    623  15.586768
                                 low                    7.0   3558  15.297626
                                 medium                 7.0   3453  16.606450
                Ship             high                   7.0   3287  18.340759
                                 low                    7.0  16013  16.178435
                                 medium                 7.0  15064  16.828897

                                                            var
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                337.025806
                                 low                 195.094357
                                 medium              269.497155
                Road             high                321.487179
                                 low                 279.170211
                                 medium              254.383688
                Ship             high                360.705872
                                 low                 285.983157
                                 medium              220.586740
B               Flight           high                333.593333
                                 low                 200.512516
                                 medium              257.436183
                Road             high                198.504926
                                 low                 238.088133
                                 medium              223.271816
                Ship             high                322.845079
                                 low                 249.977379
                                 medium              257.049106
C               Flight           high                308.294444
                                 low                 273.547712
                                 medium              223.862055
                Road             high                241.643875
                                 low                 268.590159
                                 medium              286.196008
                Ship             high                278.656227
                                 low                 236.876733
                                 medium              294.057540
D               Flight           high                127.101449
                                 low                 241.643316
                                 medium              272.237595
                Road             high                290.056667
                                 low                 264.638235
                                 medium              234.577170
                Ship             high                278.164456
                                 low                 244.358041
                                 medium              275.042368
F               Flight           high                296.984274
                                 low                 217.495456
                                 medium              301.334434
                Road             high                242.947347
                                 low                 234.017373
                                 medium              275.774166
                Ship             high                336.383448
                                 low                 261.741773
                                 medium              283.211767

In [40]:
df.groupby(['Warehouse_block','Mode_of_Shipment','Product_importance'])['Discount_offered'].describe()

                                                      count       mean  \
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                  31.0  14.322581
                                 low                  144.0  11.868056
                                 medium               122.0  14.122951
                Road             high                  27.0  16.222222
                                 low                  145.0  13.131034
                                 medium               122.0  12.524590
                Ship             high                 107.0  16.691589
                                 low                  620.0  13.793548
                                 medium               515.0  11.947573
B               Flight           high                  25.0  14.520000
                                 low                  125.0  10.672000
                                 medium               146.0  13.890411
                Road             high                  29.0  12.172414
                                 low                  132.0  12.863636
                                 medium               133.0  13.398496
                Ship             high                  92.0  15.467391
                                 low                  598.0  13.050167
                                 medium               553.0  13.358047
C               Flight           high                  36.0  12.361111
                                 low                  136.0  13.588235
                                 medium               123.0  11.878049
                Road             high                  27.0  14.481481
                                 low                  147.0  14.367347
                                 medium               120.0  12.825000
                Ship             high                 105.0  13.695238
                                 low                  591.0  12.656514
                                 medium               548.0  14.321168
D               Flight           high                  24.0   9.333333
                                 low                  146.0  13.376712
                                 medium               127.0  13.748031
                Road             high                  25.0  15.160000
                                 low                  143.0  12.902098
                                 medium               124.0  11.491935
                Ship             high                 117.0  13.794872
                                 low                  594.0  12.772727
                                 medium               534.0  13.559925
F               Flight           high                  47.0  14.808511
                                 low                  287.0  12.864111
                                 medium               258.0  14.422481
                Road             high                  50.0  12.460000
                                 low                  290.0  12.268966
                                 medium               246.0  14.036585
                Ship             high                 206.0  15.956311
                                 low                 1199.0  13.355296
                                 medium              1083.0  13.909511

                                                           std  min  25%  50%  \
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                18.358263  2.0  5.0  7.0
                                 low                 13.967618  1.0  4.0  7.0
                                 medium              16.416369  1.0  5.0  8.0
                Road             high                17.930064  1.0  5.0  9.0
                                 low                 16.708387  1.0  3.0  7.0
                                 medium              15.949410  1.0  4.0  7.0
                Ship             high                18.992258  1.0  4.0  8.0
                                 low                 16.911037  1.0  4.0  7.0
                                 medium              14.852163  1.0  4.0  7.0
B               Flight           high                18.264538  1.0  4.0  7.0
                                 low                 14.160244  1.0  3.0  6.0
                                 medium              16.044818  1.0  4.0  7.0
                Road             high                14.089178  1.0  3.0  7.0
                                 low                 15.430105  1.0  4.0  7.0
                                 medium              14.942283  1.0  4.0  7.0
                Ship             high                17.967890  1.0  3.0  7.0
                                 low                 15.810673  1.0  4.0  7.0
                                 medium              16.032751  1.0  4.0  8.0
C               Flight           high                17.558316  1.0  3.0  4.5
                                 low                 16.539278  1.0  3.0  7.0
                                 medium              14.962020  1.0  4.0  6.0
                Road             high                15.544899  1.0  6.0  8.0
                                 low                 16.388720  1.0  4.0  7.0
                                 medium              16.917329  1.0  4.0  7.0
                Ship             high                16.692999  1.0  3.0  6.0
                                 low                 15.390800  1.0  4.0  7.0
                                 medium              17.148106  1.0  4.0  8.0
D               Flight           high                11.273928  1.0  4.0  5.5
                                 low                 15.544881  1.0  4.0  8.0
                                 medium              16.499624  1.0  4.0  7.0
                Road             high                17.031050  1.0  5.0  8.0
                                 low                 16.267705  1.0  4.0  6.0
                                 medium              15.315912  1.0  3.0  5.5
                Ship             high                16.678263  1.0  4.0  7.0
                                 low                 15.631956  1.0  4.0  7.0
                                 medium              16.584401  1.0  4.0  7.0
F               Flight           high                17.233232  1.0  3.0  8.0
                                 low                 14.747727  1.0  4.5  7.0
                                 medium              17.358987  1.0  4.0  8.0
                Road             high                15.586768  1.0  3.0  7.0
                                 low                 15.297626  1.0  3.0  7.0
                                 medium              16.606450  1.0  5.0  7.0
                Ship             high                18.340759  1.0  4.0  7.0
                                 low                 16.178435  1.0  4.0  7.0
                                 medium              16.828897  1.0  4.0  7.0

                                                       75%   max
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                 9.50  65.0
                                 low                 10.00  63.0
                                 medium              10.00  62.0
                Road             high                22.50  61.0
                                 low                 10.00  65.0
                                 medium              10.00  64.0
                Ship             high                23.50  65.0
                                 low                 10.00  65.0
                                 medium              10.00  65.0
B               Flight           high                13.00  63.0
                                 low                  9.00  63.0
                                 medium              13.75  64.0
                Road             high                10.00  54.0
                                 low                 10.50  65.0
                                 medium              12.00  59.0
                Ship             high                25.25  60.0
                                 low                 10.00  64.0
                                 medium              10.00  65.0
C               Flight           high                10.00  61.0
                                 low                 12.50  64.0
                                 medium              10.00  63.0
                Road             high                16.00  59.0
                                 low                 18.50  63.0
                                 medium              10.00  65.0
                Ship             high                14.00  64.0
                                 low                 10.00  65.0
                                 medium              12.00  65.0
D               Flight           high                 8.00  42.0
                                 low                 10.00  65.0
                                 medium              15.50  64.0
                Road             high                19.00  59.0
                                 low                 10.00  65.0
                                 medium               9.00  64.0
                Ship             high                12.00  63.0
                                 low                 10.00  65.0
                                 medium              10.00  65.0
F               Flight           high                23.00  64.0
                                 low                 10.00  63.0
                                 medium              12.00  65.0
                Road             high                10.00  64.0
                                 low                 10.00  65.0
                                 medium              10.00  65.0
                Ship             high                24.75  65.0
                                 low                 10.00  65.0
                                 medium              11.00  65.0

In [41]:
df.groupby(['Warehouse_block','Mode_of_Shipment','Product_importance'])['Discount_offered'].describe().transpose()

Warehouse_block             A                                                 \
Mode_of_Shipment       Flight                               Road
Product_importance       high         low      medium       high         low
count               31.000000  144.000000  122.000000  27.000000  145.000000
mean                14.322581   11.868056   14.122951  16.222222   13.131034
std                 18.358263   13.967618   16.416369  17.930064   16.708387
min                  2.000000    1.000000    1.000000   1.000000    1.000000
25%                  5.000000    4.000000    5.000000   5.000000    3.000000
50%                  7.000000    7.000000    8.000000   9.000000    7.000000
75%                  9.500000   10.000000   10.000000  22.500000   10.000000
max                 65.000000   63.000000   62.000000  61.000000   65.000000

Warehouse_block                                                            B  \
Mode_of_Shipment                     Ship                             Flight
Product_importance     medium        high         low      medium       high
count               122.00000  107.000000  620.000000  515.000000  25.000000
mean                 12.52459   16.691589   13.793548   11.947573  14.520000
std                  15.94941   18.992258   16.911037   14.852163  18.264538
min                   1.00000    1.000000    1.000000    1.000000   1.000000
25%                   4.00000    4.000000    4.000000    4.000000   4.000000
50%                   7.00000    8.000000    7.000000    7.000000   7.000000
75%                  10.00000   23.500000   10.000000   10.000000  13.000000
max                  64.00000   65.000000   65.000000   65.000000  63.000000

Warehouse_block     ...           D          F                          \
Mode_of_Shipment    ...        Ship     Flight
Product_importance  ...      medium       high         low      medium
count               ...  534.000000  47.000000  287.000000  258.000000
mean                ...   13.559925  14.808511   12.864111   14.422481
std                 ...   16.584401  17.233232   14.747727   17.358987
min                 ...    1.000000   1.000000    1.000000    1.000000
25%                 ...    4.000000   3.000000    4.500000    4.000000
50%                 ...    7.000000   8.000000    7.000000    8.000000
75%                 ...   10.000000  23.000000   10.000000   12.000000
max                 ...   65.000000  64.000000   63.000000   65.000000

Warehouse_block                                                    \
Mode_of_Shipment         Road                                Ship
Product_importance       high         low      medium        high
count               50.000000  290.000000  246.000000  206.000000
mean                12.460000   12.268966   14.036585   15.956311
std                 15.586768   15.297626   16.606450   18.340759
min                  1.000000    1.000000    1.000000    1.000000
25%                  3.000000    3.000000    5.000000    4.000000
50%                  7.000000    7.000000    7.000000    7.000000
75%                 10.000000   10.000000   10.000000   24.750000
max                 64.000000   65.000000   65.000000   65.000000

Warehouse_block
Mode_of_Shipment
Product_importance          low       medium
count               1199.000000  1083.000000
mean                  13.355296    13.909511
std                   16.178435    16.828897
min                    1.000000     1.000000
25%                    4.000000     4.000000
50%                    7.000000     7.000000
75%                   10.000000    11.000000
max                   65.000000    65.000000

[8 rows x 45 columns]

In [42]:
df.groupby(['Warehouse_block','Mode_of_Shipment','Product_importance'])['Discount_offered'].describe().transpose()['B']

Mode_of_Shipment       Flight                               Road              \
Product_importance       high         low      medium       high         low
count               25.000000  125.000000  146.000000  29.000000  132.000000
mean                14.520000   10.672000   13.890411  12.172414   12.863636
std                 18.264538   14.160244   16.044818  14.089178   15.430105
min                  1.000000    1.000000    1.000000   1.000000    1.000000
25%                  4.000000    3.000000    4.000000   3.000000    4.000000
50%                  7.000000    6.000000    7.000000   7.000000    7.000000
75%                 13.000000    9.000000   13.750000  10.000000   10.500000
max                 63.000000   63.000000   64.000000  54.000000   65.000000

Mode_of_Shipment                     Ship
Product_importance      medium       high         low      medium
count               133.000000  92.000000  598.000000  553.000000
mean                 13.398496  15.467391   13.050167   13.358047
std                  14.942283  17.967890   15.810673   16.032751
min                   1.000000   1.000000    1.000000    1.000000
25%                   4.000000   3.000000    4.000000    4.000000
50%                   7.000000   7.000000    7.000000    8.000000
75%                  12.000000  25.250000   10.000000   10.000000
max                  59.000000  60.000000   64.000000   65.000000

In [43]:
regionFilter = df.groupby('Warehouse_block')['Discount_offered'].max()
regionFilter

Warehouse_block
A    65
B    65
C    65
D    65
F    65
Name: Discount_offered, dtype: int64

# Pivot Table

In [44]:
df.pivot_table(index=["Warehouse_block",'Mode_of_Shipment','Product_importance'], aggfunc=[min, max, np.mean, np.median,sum, np.std, np.var], values="Discount_offered")

                                                                 min  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                              2
                                 low                               1
                                 medium                            1
                Road             high                              1
                                 low                               1
                                 medium                            1
                Ship             high                              1
                                 low                               1
                                 medium                            1
B               Flight           high                              1
                                 low                               1
                                 medium                            1
                Road             high                              1
                                 low                               1
                                 medium                            1
                Ship             high                              1
                                 low                               1
                                 medium                            1
C               Flight           high                              1
                                 low                               1
                                 medium                            1
                Road             high                              1
                                 low                               1
                                 medium                            1
                Ship             high                              1
                                 low                               1
                                 medium                            1
D               Flight           high                              1
                                 low                               1
                                 medium                            1
                Road             high                              1
                                 low                               1
                                 medium                            1
                Ship             high                              1
                                 low                               1
                                 medium                            1
F               Flight           high                              1
                                 low                               1
                                 medium                            1
                Road             high                              1
                                 low                               1
                                 medium                            1
                Ship             high                              1
                                 low                               1
                                 medium                            1

                                                                 max  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                             65
                                 low                              63
                                 medium                           62
                Road             high                             61
                                 low                              65
                                 medium                           64
                Ship             high                             65
                                 low                              65
                                 medium                           65
B               Flight           high                             63
                                 low                              63
                                 medium                           64
                Road             high                             54
                                 low                              65
                                 medium                           59
                Ship             high                             60
                                 low                              64
                                 medium                           65
C               Flight           high                             61
                                 low                              64
                                 medium                           63
                Road             high                             59
                                 low                              63
                                 medium                           65
                Ship             high                             64
                                 low                              65
                                 medium                           65
D               Flight           high                             42
                                 low                              65
                                 medium                           64
                Road             high                             59
                                 low                              65
                                 medium                           64
                Ship             high                             63
                                 low                              65
                                 medium                           65
F               Flight           high                             64
                                 low                              63
                                 medium                           65
                Road             high                             64
                                 low                              65
                                 medium                           65
                Ship             high                             65
                                 low                              65
                                 medium                           65

                                                                mean  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                      14.322581
                                 low                       11.868056
                                 medium                    14.122951
                Road             high                      16.222222
                                 low                       13.131034
                                 medium                    12.524590
                Ship             high                      16.691589
                                 low                       13.793548
                                 medium                    11.947573
B               Flight           high                      14.520000
                                 low                       10.672000
                                 medium                    13.890411
                Road             high                      12.172414
                                 low                       12.863636
                                 medium                    13.398496
                Ship             high                      15.467391
                                 low                       13.050167
                                 medium                    13.358047
C               Flight           high                      12.361111
                                 low                       13.588235
                                 medium                    11.878049
                Road             high                      14.481481
                                 low                       14.367347
                                 medium                    12.825000
                Ship             high                      13.695238
                                 low                       12.656514
                                 medium                    14.321168
D               Flight           high                       9.333333
                                 low                       13.376712
                                 medium                    13.748031
                Road             high                      15.160000
                                 low                       12.902098
                                 medium                    11.491935
                Ship             high                      13.794872
                                 low                       12.772727
                                 medium                    13.559925
F               Flight           high                      14.808511
                                 low                       12.864111
                                 medium                    14.422481
                Road             high                      12.460000
                                 low                       12.268966
                                 medium                    14.036585
                Ship             high                      15.956311
                                 low                       13.355296
                                 medium                    13.909511

                                                              median  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                            7.0
                                 low                             7.0
                                 medium                          8.0
                Road             high                            9.0
                                 low                             7.0
                                 medium                          7.0
                Ship             high                            8.0
                                 low                             7.0
                                 medium                          7.0
B               Flight           high                            7.0
                                 low                             6.0
                                 medium                          7.0
                Road             high                            7.0
                                 low                             7.0
                                 medium                          7.0
                Ship             high                            7.0
                                 low                             7.0
                                 medium                          8.0
C               Flight           high                            4.5
                                 low                             7.0
                                 medium                          6.0
                Road             high                            8.0
                                 low                             7.0
                                 medium                          7.0
                Ship             high                            6.0
                                 low                             7.0
                                 medium                          8.0
D               Flight           high                            5.5
                                 low                             8.0
                                 medium                          7.0
                Road             high                            8.0
                                 low                             6.0
                                 medium                          5.5
                Ship             high                            7.0
                                 low                             7.0
                                 medium                          7.0
F               Flight           high                            8.0
                                 low                             7.0
                                 medium                          8.0
                Road             high                            7.0
                                 low                             7.0
                                 medium                          7.0
                Ship             high                            7.0
                                 low                             7.0
                                 medium                          7.0

                                                                 sum  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                            444
                                 low                            1709
                                 medium                         1723
                Road             high                            438
                                 low                            1904
                                 medium                         1528
                Ship             high                           1786
                                 low                            8552
                                 medium                         6153
B               Flight           high                            363
                                 low                            1334
                                 medium                         2028
                Road             high                            353
                                 low                            1698
                                 medium                         1782
                Ship             high                           1423
                                 low                            7804
                                 medium                         7387
C               Flight           high                            445
                                 low                            1848
                                 medium                         1461
                Road             high                            391
                                 low                            2112
                                 medium                         1539
                Ship             high                           1438
                                 low                            7480
                                 medium                         7848
D               Flight           high                            224
                                 low                            1953
                                 medium                         1746
                Road             high                            379
                                 low                            1845
                                 medium                         1425
                Ship             high                           1614
                                 low                            7587
                                 medium                         7241
F               Flight           high                            696
                                 low                            3692
                                 medium                         3721
                Road             high                            623
                                 low                            3558
                                 medium                         3453
                Ship             high                           3287
                                 low                           16013
                                 medium                        15064

                                                                 std  \
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance
A               Flight           high                      18.358263
                                 low                       13.967618
                                 medium                    16.416369
                Road             high                      17.930064
                                 low                       16.708387
                                 medium                    15.949410
                Ship             high                      18.992258
                                 low                       16.911037
                                 medium                    14.852163
B               Flight           high                      18.264538
                                 low                       14.160244
                                 medium                    16.044818
                Road             high                      14.089178
                                 low                       15.430105
                                 medium                    14.942283
                Ship             high                      17.967890
                                 low                       15.810673
                                 medium                    16.032751
C               Flight           high                      17.558316
                                 low                       16.539278
                                 medium                    14.962020
                Road             high                      15.544899
                                 low                       16.388720
                                 medium                    16.917329
                Ship             high                      16.692999
                                 low                       15.390800
                                 medium                    17.148106
D               Flight           high                      11.273928
                                 low                       15.544881
                                 medium                    16.499624
                Road             high                      17.031050
                                 low                       16.267705
                                 medium                    15.315912
                Ship             high                      16.678263
                                 low                       15.631956
                                 medium                    16.584401
F               Flight           high                      17.233232
                                 low                       14.747727
                                 medium                    17.358987
                Road             high                      15.586768
                                 low                       15.297626
                                 medium                    16.606450
                Ship             high                      18.340759
                                 low                       16.178435
                                 medium                    16.828897

                                                                 var
                                                    Discount_offered
Warehouse_block Mode_of_Shipment Product_importance

In [45]:
pd.pivot_table(df, index=['Mode_of_Shipment','Product_importance'], columns='Warehouse_block', values='Discount_offered')

Warehouse_block                              A          B          C  \
Mode_of_Shipment Product_importance
Flight           high                14.322581  14.520000  12.361111
                 low                 11.868056  10.672000  13.588235
                 medium              14.122951  13.890411  11.878049
Road             high                16.222222  12.172414  14.481481
                 low                 13.131034  12.863636  14.367347
                 medium              12.524590  13.398496  12.825000
Ship             high                16.691589  15.467391  13.695238
                 low                 13.793548  13.050167  12.656514
                 medium              11.947573  13.358047  14.321168

Warehouse_block                              D          F
Mode_of_Shipment Product_importance
Flight           high                 9.333333  14.808511
                 low                 13.376712  12.864111
                 medium              13.748031  14.422481
Road             high                15.160000  12.460000
                 low                 12.902098  12.268966
                 medium              11.491935  14.036585
Ship             high                13.794872  15.956311
                 low                 12.772727  13.355296
                 medium              13.559925  13.909511

# Explicit Indexes

In [46]:
ModeofShipmentFilter = df.set_index(['Mode_of_Shipment'])
ModeofShipmentFilter

,ID,Warehouse_block,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
Mode_of_Shipment,,,,,,,,,,,
Flight,1,D,4,2,177,3,low,F,44,1233,1
Flight,2,F,4,5,216,2,low,M,59,3088,1
Flight,3,A,2,2,183,4,low,M,48,3374,1
Flight,4,B,3,3,176,4,medium,M,10,1177,1
Flight,5,C,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...
Ship,10995,A,4,1,252,5,medium,F,1,1538,1
Ship,10996,B,4,1,232,5,medium,F,6,1247,0
Ship,10997,C,5,4,242,5,low,F,4,1155,0
Ship,10998,F,5,2,223,6,medium,M,2,1210,0
Ship,10999,D,2,5,155,5,low,F,6,1639,0

In [47]:
Product_importance = df.set_index(['Product_importance'])
Product_importance.loc[['high', 'low']]

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
Product_importance,,,,,,,,,,,
high,14,F,Flight,4,4,275,3,M,29,2602,1
high,19,D,Ship,5,5,239,3,M,18,2495,1
high,24,F,Ship,4,3,211,3,M,12,3922,1
high,27,A,Ship,4,1,172,3,F,24,1066,1
high,37,D,Ship,3,5,137,4,F,62,1477,1
...,...,...,...,...,...,...,...,...,...,...,...
low,10989,A,Ship,4,3,192,4,F,2,1830,0
low,10991,C,Ship,5,4,219,6,M,3,1098,0
low,10994,F,Ship,5,1,257,6,F,1,1150,0
low,10997,C,Ship,5,4,242,5,F,4,1155,0
low,10999,D,Ship,2,5,155,5,F,6,1639,0

# Save Data

In [48]:
df.to_csv('data/Ecommerce2.csv')